{{ template "base" .}}
<main>
  <h1 class="page-title checkout-title">Información de envío</h1>
  <div class="checkout-container">
    <div class="checkout-info-container">
      <form method="post" action="/process-payment">
        <input type="hidden" name="total" value="{{ .Total }}" />
        <input type="hidden" name="description" value="{{ .Description }}" />
        <!--Name-->
        <div class="checkout-input">
          <label for="name">Nombres</label>
          <input
            label="Nombres"
            name="name"
            type="text"
            value="{{ .User.Names}}"
            required
          />
        </div>
        <!--Surname-->
        <div class="checkout-input">
          <label for="surname">Apellidos</label>
          <input
            name="surname"
            type="text"
            value="{{ .User.Surnames }}"
            required
          />
        </div>
        <!--Id-->
        <div class="checkout-input">
          <label for="id-number">Documento</label>
          <input
            name="id-number"
            type="text"
            value="{{ .User.IDNumber }}"
            required
          />
        </div>
        <!--Phone-->
        <div class="checkout-input">
          <label for="phone">Teléfono</label>
          <input name="phone" type="text" value="{{ .User.Phone }}" required />
        </div>
        <!--Mail-->
        <div class="checkout-input">
          <label for="mail">Correo electrónico</label>
          <input name="mail" type="email" value="{{ .User.Mail }}" required />
        </div>
        <!--State-->
        <div class="checkout-input">
          <label for="state">Departamento</label>
          <input name="state" type="text" value="{{ .User.State }}" required />
        </div>
        <!--City-->
        <div class="checkout-input">
          <label for="city">Ciudad</label>
          <input name="city" type="text" value="{{ .User.City }}" required />
        </div>
        <!--Neighborhood-->
        <div class="checkout-input">
          <label for="neighborhood">Barrio</label>
          <input
            name="neighborhood"
            type="text"
            value="{{ .User.Neighborhood }}"
            required
          />
        </div>
        <!--Address-->
        <div class="checkout-input">
          <label for="address">Dirección</label>
          <input
            name="address"
            type="text"
            value="{{ .User.Address }}"
            required
          />
        </div>
        <div class="terms-conditions" id="terms-conditions">
          <label for="terms-conditions"
            >Aceptar los <a href="">términos y condiciones</a></label
          >
          <input name="terms-conditions" type="checkbox" required />
        </div>
        <div class="checkout-button-container">
          <button>Pagar</button>
        </div>
      </form>
    </div>
  </div>
</main>
{{ template "footer" .}}
