{{ template "base" .}}
<main>
  <div class="index-content">
    <div class="container-video">
      <button class="btn-sound" onclick="soundActivator()">
        <i class="fa-solid fa-volume-high"></i>
      </button>
      <button class="btn-store"><a href="/shop">Tienda</a></button>
      <video id="videoStopMotion" autoplay loop muted playsinline>
        <source src="/static/images/StopMotion.mp4" type="video/mp4" />
        Tu navegador no soporta el video.
      </video>
    </div>
  </div>
</main>
{{ template "footer" .}}
